@import "bootstrap";


/*ページネーション*/
.pagination>li>a {
  border: none;
  color: #696969;
}
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}
.footer{
  .pagination{
    justify-content: center;
  }
}
/* リンク文字変更 */
#index{
  td{
    a.name{
      color: black;
      text-decoration:none;
    }
    a:hover.name{
      color: blue;
    }
  }
  th{
    a{
      color: green;
      text-decoration:none;
    }
  }
}